.image-container{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: #1d1f21;
    box-shadow: inset 7px 7px 15px #111213,
    inset -7px -7px 15px #292c2f;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 60px;
}

img{
    width: 310px;
}